body {
    font-family: 'Roboto', sans-serif;
}

#devIcon {
    font-size: 4rem;
    margin: 1rem;
    color: #424242;
}
.fa-2x {
    color: #444;
}
.fa-3x {
    margin: 2px;
    padding: 4px;
    color: #444;
}

.fa-3x:hover {
    color: white;
}

li {
    display: inline;
}

nav ul a,
nav .brand-logo {
    color: #444;
    font-weight: 400;
}

p {
    line-height: 2rem;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}
footer.page-footer {
    margin: 0;
}

#check,
#zon,
#rick {
    height: 170px;
}

#para1 {
    min-height: 500px;
}

a.brand-logo {
    color: #fafafa;
    margin-left: 12px;
}

.portLink {
    color: #00bcd4 !important;
}
